@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');


:root {
    --bg-color: #000000;
    --bg-color-2-purp: #130d2e;
    --bg-color-3-blue: #070733;
    --window-color-darkblue: #2a28b1de;
    --window-color-purp: #3618a3ea;
    --accent-color-lightblue: #b5eaff;
    --accent-color-lighterblue: #EAFFFD;
    --accent-color-greyblue: #1f3161f6;
    --accent-color-lighter-greyblue: #3e7fbbf6;
    --accent-color-lighter-greyblue-highlight: #91b6db;
    --accent-color-grey: #586674f6;
    --accent-color-darkgrey: #252a2e;
    --accent-color-steel: #325b7cde;
    --accent-color-confirm-green: #018035;
    --accent-color-confirm-lightgreen: #00eb33;
    --modal-grey: #0e1324b9;
    --font-primary: #eaf3ffe5;
    --font-secondary-dark: #000820;
    --font-family-main: 'Zain', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    --border-radius-window: 4px;
    --window-shadows: 1px 3px 10px 1px var(--accent-color-greyblue);
    --window-shadows-purp: 1px 3px 10px 1px #2c1779ea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--font-primary);
    font-family: var(--font-family-main);
    font-size: 20px;
}

main {
    color: var(--font-primary);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-content {
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2rem 1fr 5rem;
    justify-content: center;
    align-items: center;
}

.modal-container {
    height: 100vh;
    width: 100vw;
    background-color: var(--modal-grey);
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 999;
    top: 0;
    left: 0;
}


/*                  Background animation                 */


@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
  
@keyframes rotate-bg {
    to { --angle: 360deg; }
}

.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -4;
    top:0;
    left:0;
    overflow: hidden;
    background-image: conic-gradient(
        from var(--angle),
        var(--bg-color) 50deg,
        var(--bg-color-3-blue) 90deg,
        var(--bg-color) 180deg,
        var(--bg-color-3-blue) 300deg,
        var(--bg-color-2-purp)320deg,
        var(--bg-color) 360deg
        );

    background-color: black;

    animation: rotate-bg 180s linear infinite;
    
}


/*                         Input   Form                 */


/*        containers        */


.input-form-container {
    position: fixed;
    top: 20%;
    border-radius: var(--border-radius-window);
    box-shadow: var(--window-shadows);
    background-color: var(--window-color-darkblue);
    padding: 2rem;
    height: auto;
    width: auto;
}

.input-form-modal {
    height: auto;
    width: auto;
}

.input-type-details {
    display: grid;
    margin-top: -1rem;
    grid-template-columns: 1fr;
    position: relative;
}

.input-type-inputs {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    gap: 0.5rem;
    height: 100%;
    padding: 1rem;
}

.input-search-container {
    position: relative;
}

.live-search-results, .live-search-container {
    position: absolute;
    background-color: var(--accent-color-lighter-greyblue);
    height: max-content;
    z-index: 2;
    width: 100%;
    overflow-y: auto;
    border-radius: var(--border-radius-window);
}

.search-result-container {
    padding: 0.35rem 0.5rem;
}

.search-result-container-selected, .search-result-container:hover {
    background-color: var(--accent-color-lighter-greyblue-highlight);
    color: var(--font-secondary-dark)
}

.input-select-container {
    position: relative;
}


.input-reset-button-container {
    position: absolute;
    top: 0.1rem;
    right: -1.75rem;
}

.input-search-confirm-container {
    position: absolute;
    right: -1.7rem;
    z-index: 0;
    bottom: 0.05rem;
}


.input-search-display {
    display: flex;
    padding: 0.5rem 0.75rem;
    background-color: var(--accent-color-lighter-greyblue);
    border-radius: var(--border-radius-window);
    box-shadow: 1px 3px 10px 1px var(--accent-color-greyblue);
    width: clamp(12rem, 30vw, 15rem);
    justify-content: space-between;
    align-items: center;
    
}

.search-display-title, .search-display-title {
    text-wrap: wrap;
}

.search-display-img {
    width: 100px;
    aspect-ratio: 1 / 1;
    display: flex;
}

.search-display-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--border-radius-window);
}

.search-display-info {
    font-size: 1rem;
    text-align: right;
}



.output-options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 20rem;
}

.output-options-sliders {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(3rem, 1fr));
    gap: 0.5rem;
}

.output-options-dates p {
    display: inline;
}


.output-options-date-label, .output-options-variety-label {
    display: flex;
    justify-content: space-between;
}

.date-range-label, .variety-label {
    display: inline;
    padding: 0 0.15rem;
    background-color: var(--accent-color-lighter-greyblue);
    border-radius: var(--border-radius-window);
    text-align: center;
    width: 2.6rem;
}

.output-options-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit-button-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.load-spinner-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-spinner-size img {
    max-width: 100%;
    max-height: 100%;
}





/*         buttons          */
.modal-button {
    padding: 0.35rem 1rem;
    border: none;
    background-color: var(--accent-color-steel);
    color: var(--font-primary)
}

.next-modal-button-container {
    position: absolute;
    right: 0;
    bottom: 0;
}

.next-modal-button-container button {
    border-radius: 4px 0 4px 0;
}

.back-modal-button-container {
    position: absolute;
    left: 0;
    bottom: 0;
}

.back-modal-button-container button {
    border-radius: 0 4px 0 4px;
}

.input-search-confirm-button {
    font-size: 0.75rem;
    color: var(--font-primary);
    background: radial-gradient(circle at center, var(--accent-color-confirm-lightgreen), var(--accent-color-confirm-green) 75%);
    padding: 0.25rem;
    border: none;
    border-radius: var(--border-radius-window);
}


.input-reset-button, .form-resubmit-button {
    border: none;
    font-size: 1rem;
    color: var(--font-primary);
    background: radial-gradient(circle at center, var(--accent-color-lighter-greyblue), var(--window-color-darkblue) 70%);
    padding: 0.25rem;
    border-radius: 50px;
}

.form-submit-button {
    padding: 0.75rem 0.85rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px 0 4px 0;
    background: radial-gradient(circle at center, var(--accent-color-confirm-lightgreen), var(--accent-color-confirm-green) 75%);
    color: var(--font-primary);
}






/*          html inputs                  */
.form-select {
    margin-left: 0.25rem;
    padding: 0.2rem;
    background-color: var(--accent-color-lighter-greyblue);
}

.form-select, .form-text-input {
    border: none;
    outline: none;
    border-radius: var(--border-radius-window);
    font-family: var(--font-family-main);
    font-size: 1rem;
    color: var(--font-primary);
}

.form-text-input  {
    background-color: var(--accent-color-lightblue);
    color: var(--font-secondary-dark);
    padding: 0.1rem 0.25rem;
    
}

.form-text-input:disabled {
    background-color: var(--accent-color-grey);
}

.form-text-input:focus, .form-textarea:focus {
    background-color: var(--accent-color-lighterblue);
    outline: 2px solid var(--modal-grey);
    
}

.form-text-input::placeholder {
    color: var(--accent-color-darkgrey);
}

.form-textarea {
    border: none;
    outline: none;
    width: 7rem;
    background-color: var(--accent-color-lightblue);
    border-radius: var(--border-radius-window);
    font-family: var(--font-family-main);
    font-size: 1rem;
    padding: 0.15rem;
    resize: none;
}
















/*                       Filled   Form                            */

.form-data-display-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-data-display {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 2rem 125px 3rem;
    width: clamp(15rem, 50%, 20rem);
    height: max-content;
    padding: 0.5rem;
    background-color: var(--window-color-darkblue);
    border-radius: var(--border-radius-window);
    box-shadow: var(--window-shadows);
}

.form-display-output-type, .form-display-input-type {
    display: flex;
    align-items: center;
}

.form-display-output-type {
    margin-left: 2rem;
}

.form-display-input-type {
    justify-content: center;
}

.type-span {
    font-weight: bold;
    background-color: var(--accent-color-mag);
    padding: 0.15rem;
}


.form-display-input-info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    max-width: 15rem;
    justify-self: center;
    background-color: var(--accent-color-lighter-greyblue);
    border-radius: var(--border-radius-window);
}

.input-info-img {
    align-self: center;
    width: clamp(75px, 100%, 95px);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
}

.input-info-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2px;
}

.input-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.form-display-output-options, .form-display-option {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-display-option i {
    margin-right: .25rem;
}

.form-display-option p {
    line-height: -1rem;
}



/*                       Output   Results                         */


.app-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
    width: 60%;
}

.output-results-container {
    grid-row: 3/5;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 100%;
}

.output-results {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap:1rem;
    width: clamp(15rem, 70%, 35rem);
}

.output-results-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    width: clamp(20rem, 100%, 100rem);
}

.output-item-details, .output-item-links, .error-container {
    background-color: var(--window-color-purp);
    box-shadow: var(--window-shadows-purp);
    border-radius: var(--border-radius-window);
    display: flex;
    padding: 0.5rem;
}

.output-item-details {
    justify-content: baseline;
    align-items:center;
    justify-content: space-between;
    grid-column: 1 / 4;
}

.output-item-img {
    display: flex;
    align-items: center;
    width: clamp(75px, 100%, 95px);
    aspect-ratio: 1 / 1;
}

.output-item-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2px;
}

.output-item-info {
    text-align: right;
}

.output-item-links {
    align-items: center;
    justify-content: space-around;
    grid-column: 4/5;
}

#spotify-icon {
    color: #1DB954
}

#youtube-icon {
    color: #FF0000;
}

.output-item-link-icon {
    font-size: 1.5rem;   
}

.input-form-result-display {
    display: flex;
    justify-content: space-between;
    width: clamp(5rem, 80%, 18rem);
    justify-self: center;
}

.result-display-info {
    text-align: end;
    margin: 0.25rem;
}

.result-display-img {
    width: 5rem;
    aspect-ratio: 1/1;
}

.error-container {
    padding: 0.75rem;
}